body {
  margin: 3rem;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

h1,
h2 {
  font-family: "Permanent Marker", cursive;
  padding: 0.6em 1em;
  display: inline-block;
  color: black;
}

h1 {
  background-color: yellow;
  transform: rotate(-5deg) skew(-10deg);
}

.area__names {
  /* border-bottom: 10px solid lightgrey; */
  border: 2px solid black;
  border-radius: 0.5em;
  background-color:mistyrose;
  box-shadow: -15px 7px 1px darkgray;
  margin: 0.5rem
}

.boards__container {
  display: flex; /* Previously: display: grid; */
  flex: 1 1 33%;
  flex-wrap: wrap;
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.boards__list {
  max-height: 12rem;
  min-height: 9rem;
  min-width: 15rem;
  overflow: scroll;
  margin-right: 2rem;
  border: black solid 1px;
  border-radius: 0.5em;
}

.board__selected {
  background-color: darkgoldenrod;
}

.new-board-form__container,
.new-card-form__container {
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.new-board-form__form,
.new-card-form__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  width: 100%;
}

.new-board-form__form-submit-btn,
.new-board-form__toggle-btn,
.new-card-form__form-submit-btn {
  margin-top: 1em;
  padding: 0.5em;
  background-color: white;
  border: 2px solid black;
  border-radius: 0.5em;
}

.new-board-form__form-input,
.new-card-form__form-input {
  margin-bottom: 1em;
}

.cards__container {
  display: flex; /* Previously: display: grid; */
  flex-wrap: wrap;
  /* grid-template-columns: auto; */
  margin: 0.5rem;
  margin-top: 1rem;
}

.card-items__container {
  display: flex; /* Previously: display: grid; */
  flex: auto; /* Previously: grid-template-columns: 1fr 1fr 1fr 1fr; */
  flex-wrap: wrap;
  /* Previously: grid-gap: 2rem; */
  margin: 2rem;
}

.card-item {
  font-family: "Homemade Apple", cursive;
  font-family: 'Concert One', cursive;
  background-color: rgb(255, 248, 165);
  box-shadow: -10px 7px 7px lightgrey;
  min-height: 200px;
  min-width: 200px;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
  border-radius: 2em;
  border-color: black;
  border-style:groove;
  margin-right: 1em;
  margin-bottom: 1em;
}

.card-item__controls {
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
}

.card-item__message {
  text-align: center;
  font-size: 1.4rem;
  word-break: break-word;
}

.card-item__controls > li:hover, .footer__delete-btn:hover {
  text-decoration: underline;
}

input {
  box-sizing: content-box;
}

.invalid-form-input {
  border: red solid 1px;
  box-shadow: 0 0 7px red;
}

footer {
  text-align: center;
}

.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content__container {
  flex: 1 1 auto; /* For responsive behavior when size shrinks, changed from 1,0,auto to 1,1,auto */
}

/* Sample React app classes - NOT USED */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
